@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
body, header {
  @apply bg-gray-50 text-black;
}

footer {
  @apply bg-gray-50 text-black;
}

/* Dark mode styles */
.dark body {
  @apply bg-darkbg text-white;
}

/* Header */
.dark header {
  @apply bg-darkbg text-gray-100;
}

/* Footer */
.dark footer {
  @apply bg-darkbg text-gray-400;
}

@layer base {
  main {
    @apply flex flex-col;
  }
  :root {
    --radius: 0.5rem;
    --sidebar-background: 210 20% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 0 0% 7.5%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Utility classes */
@layer utilities {
  /* Blink animation */
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s steps(1, start) infinite;
  }
}